{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="{% static 'css/jqueryplugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'java script/jquery.convform.js' %}"></script>
    <script src="{% static 'java script/index.js' %}"></script>
</head>

<body>
   <!-- ChatBot -->
<div class="chat_icon">
	<i class="fa fa-comments" aria-hidden="true"></i>
</div>

<div class="chat_box">
	<div class="my-conv-form-wrapper">
		<form action="" method="GET" class="hidden">

      <select data-conv-question="Hello! How can I help you" name="category">
        <option value="WebDevelopment">Feedback Realated</option>
        <option value="DigitalMarketing">Have Any Issue ?</option>
      </select>

      <div data-conv-fork="category">
        <div data-conv-case="WebDevelopment">
            <input type="text" name="name" data-conv-question="Please, Enter your name">

      <input type="text" data-conv-question="Hi {name}, <br> It's a pleasure to meet you." data-no-answer="true">
      <input data-conv-question="Enter your e-mail" type="email" name="email" required placeholder="What's your e-mail?">
       <input type="text" feed="write your feedback" data-conv-question="Please, Write your feedback here!!!">
      <select data-conv-question="Please Submit">
        <option value="Yes">Submit</option>
      </select>

        </div>
        <div data-conv-case="DigitalMarketing" data-conv-fork="first-question2">
          <select data-conv-question="Please Confirm">
              <option value="Yes">Video Player</option>
              <option value="Yes">Recommendation</option><br>

          </select>
             <input type="text" name="name" data-conv-question="Please, Enter your name">

      <input type="text" data-conv-question="Hi {name}, <br> It's a pleasure to meet you." data-no-answer="true">

      <input data-conv-question="Enter your e-mail" data-pattern="^[a-zA-Z0-9.!#$%&’+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$" type="email" name="email" required placeholder="What's your e-mail?">

       <input type="text" feed="issue" disabled="disabled" value="Disneyland" data-conv-question="sorry for inconvenience we are trying to resolve your issue thanks!!">


        </div>
      </div>
  	</form>
	</div>
</div>
    <div class="container-fluid">
        <div class="card bg-light">
            <div class="card-body mx-auto">
                <h1 class="card-title mt-3 text-center">Reach Out to Us</h1>
                <p class="text-center">Ask Your Questions....</p>
                <form action="{% url 'Contact' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input type="text" id="exampleInputName" name="username" aria-describedby="emailhelp" placeholder="Enter Name">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                        <input type="email" id="exampleInputEmail" name="email" aria-describedby="emailhelp" placeholder="Enter Email">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <select class="custom-select" style="max-width: 80px;">
                            <option>+91</option>
                            <option>+49</option>
                            <option>+75</option>
                        </select>
                        <input type="number" class="form-control" name="number" placeholder="Enter Phone">

                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-question-circle"></i>
                            </span>
                        </div>
                       <textarea name="message" cols="45" rows="5"> </textarea>
                    </div>


                    <button type="submit" class="btn btn-block btn-success">Submit</button>

                </form>
            </div>
        </div>
    </div>
    <footer class="page-footer bg-dark ">
        <div class="footercolor">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-12 text-center">
                   <a href="#"><i class="fab fa-facebook-f text-white mr-4"></i></a>
                   <a href="#"><i class="fab fa-twitter text-white mr-4"></i></a>
                   <a href="#"><i class="fab fa-google-plus-g text-white mr-4"></i></a>
                   <a href="#"><i class="fab fa-linkedin-in text-white mr-4"></i></a>
                   <a href="#"><i class="fab fa-instagram text-white mr-4"></i></a>
                </div>
                </div>
            </div>
        </div>
        <div class="container text-center text-md-left mt-5">
           <div class="row">
               <div class="col-md-3 mx-auto mb-4">
                 <h6 class="text-uppercase font-weight-bold">The Providers</h6>
                 <hr class="horizon mb-4 mt-0 d-inline-block mx-auto">
                 <p class="mt-2">Your website is the center of your digital eco-system, like a brick and mortar location, the experience matters once a customer enters, just as much as the perception they have of you before they walk through the door.</p>
               </div>
               <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="horizon mb-4 mt-0 d-inline-block mx-auto">

                <ul class="list-unstyled">
                  <li class="my-2"><a href="#">HTML5</a></li>
                  <li class="my-2"><a href="#">Bootstrap</a></li>
                  <li class="my-2"><a href="#">Java Script</a></li>
                  <li class="my-2"><a href="#">CSS</a></li>
                </ul>
                </div>
                <div class="col-md-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Useful Links</h6>
                    <hr class="horizon mb-4 mt-0 d-inline-block mx-auto">
                    <ul class="list-unstyled">
                        <li class="my-2"><a href="{% url 'Dashboard' %}">Home</a></li>
                        <li class="my-2"><a href="{% url 'profile' %}">Profile</a></li>
                        <li class="my-2"><a href="{% url 'Contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="horizon mb-4 mt-0 d-inline-block mx-auto" >
                    <ul class="list-unstyled">
                        <li class="my-2"><i class="fas fa-home mr-3"></i>Raj Kumar Goel Institute of Technology</li>
                        <li class="my-2"><i class="fas fa-envelope mr-3"></i>ReviceAdvice@gmail.com</li>
                        <li class="my-2"><i class="fas fa-phone mr-3"></i>7836977728</li>
                        <li class="my-2"><i class="fas fa-print mr-3"></i>12345321</li>
                    </ul>
                </div>
           </div>
        </div>
        <div class="footer-copyright text-center py-3">
            <p>&copy; Copyright
                <a href="#">ReviceAdvice.com</a>
            </p>
            <p>Designed By the Providers</p>
        </div>
    </footer>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" ></script>
<script>
    var wow = new WOW(
  {
    boxClass:     'wow',
    animateClass: 'animated',
    offset:       0,
    mobile:       true,
    live:         true,
    callback:     function(box) {
    },
    scrollContainer: null,
    resetAnimation: true,
  }
);
wow.init();
</script>
</html>